

<!-- Inline CSS for table styling -->
<style>
    #book-table {
      width: 100%;
      border-collapse: collapse;
      table-layout: fixed;
    }
    
    #book-table th {
      padding: 10px;
      text-align: left;
      background-color: #f4f4f4;
      font-weight: bold;
      border: 1px solid #ddd;
      width: 50px;  /* Column 1: # */
    }

    #book-table td {
      padding: 10px;
      text-align: left;
      border: 1px solid #ddd;
      white-space: normal; /* Allow text wrapping */
    }

    #book-table th:nth-child(1),
    #book-table td:nth-child(1) { width: 35%; }

    #book-table th:nth-child(2),
    #book-table td:nth-child(2) { width: 32.5%; }

    #book-table th:nth-child(3),
    #book-table td:nth-child(3) { width: 17.5%; }

    #book-table th:nth-child(4),
    #book-table td:nth-child(4) { width: 20%; }

    /* Media query for screens smaller than 576px (phones) */
    @media (max-width: 576px) {
        #book-table th, #book-table td {
            font-size: 12px; /* Further reduce font size for phones */
            padding: 5px;    /* Reduce padding further */
        }
        
        #book-table th, #book-table td {
            padding: 5px; /* Reduce padding for smaller screens */
        }
        
    }
    </style>


<table id="book-table" data-sort-column="3" data-sort-method="desc">
    <thead>
      <tr>
        <!-- <th>#</th> -->
        <th>Book</th>
        <th>Author</th>
        <th>Rating</th>
        <th>Version</th>
      </tr>
    </thead>
    <tbody>
      {% assign csv_data = site.data[include.csv_file] %}
      {% for row in csv_data %}
      <tr>
        <td>{{ row.Book }}</td>
        <td>{{ row.Author }}</td>
        <td data-value="{{ row.Rating }}">
          {% assign rating = row.Rating | plus: 0 %}
          {% for i in (1..3) %}
            {% if i <= rating %}
              <span class="star">★</span>
            {% else %}
              <span class="star empty">☆</span>
            {% endif %}
          {% endfor %}
        </td>
        <td>{{ row.Version }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  