.book-container {
    width: 80%; /* Adjust the width percentage as needed */
    margin: 0 auto; /* Centers the div horizontally */
    margin-top: 25px; /* Centers the div horizontally */
    margin-bottom: 25px; /* Centers the div horizontally */
  }
  
  .book {
    text-align: center;
    font-size: 2em;
    font-style: normal;
    font-weight: 700;
    margin: 0.2em 0;
  }
  
  .book-author {
    text-align: center;
    font-size: 1.2em;
    font-style: italic;
    // margin: 1em 0;
  }

  