.quote-container {
    width: 80%; /* Adjust the width percentage as needed */
    margin: 0 auto; /* Centers the div horizontally */
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .quote {
    text-align: center;
    font-size: 1.7em;
    font-style: italic;
  }
  
  .quote-author {
    text-align: right;
    font-size: 1em;
    font-style: normal;
  }

  
  @media (max-width: 576px) {
  .quote-container {
    width: 95%;
    }
  }

