// .main-section {
//     text-align: center; /* Center the text */
//     font-size: 2em; /* Large font size */
//     font-weight: bold; /* Make the text bold */
//     margin: 2rem 0; /* Add spacing above and below */

//     .subtitle {
//       font-size: 0.6em;
//       font-weight: normal;
//       font-style: italic;
//     }
//   }

.main-section {
  position: relative;
  display: inline-block;
  text-align: center;
  color: black;
  margin-bottom: 15px;
  width: 100%; /* Adjust the width as needed */
  max-width: 800px; /* You can limit the max width of the image */
  /* Main title */
  .main-title {
    font-size: 2em; /* Adjust for larger size */
    font-weight: 700; /* Bold */
    margin-bottom: 0em; /* Spacing between title and subtitle */
  }

  /* Subtitle */
  .subtitle {
    font-size: 1em; /* Smaller than the main title */
    font-weight: 300; /* Thinner font weight */
    font-style: italic;
    margin-top: 0; /* No extra margin above */
    // margin-bottom: 0.5em; /* Spacing between title and subtitle */
  }

  /* Media query for phones (max-width 768px) */
  @media (max-width: 768px) {
    .main-title {
      font-size: 1.5em; /* Smaller size for title on phones */
    }

    .subtitle {
      font-size: 1em; /* Smaller size for subtitle on phones */
    }
  }

  /* Media query for very small phones (max-width 576px) */
  @media (max-width: 576px) {
    .main-title {
      font-size: 1.5em; /* Even smaller size for title on very small screens */
    }

    .subtitle {
      font-size: 0.8em; /* Even smaller size for subtitle */
    }
  }
}