.main-section {
    text-align: center; /* Center the text */
    font-size: 2em; /* Large font size */
    font-weight: bold; /* Make the text bold */
    margin: 2rem 0; /* Add spacing above and below */

    .subtitle {
      font-size: 0.6em;
      font-weight: normal;
      font-style: italic;
    }
  }

