---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}     
      <div class="post-preview-container">
        <!-- {%- if post.image -%}
        <div class="post-preview-image">
          <img src="{{ post.image | default: '/assets/images/default-post.webp' }}" alt="{{ post.title | escape }}" loading="lazy">
        </div>
        {%- endif -%} -->
        <div class="post-preview-text">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
            {%- if site.show_excerpts -%}
              <p>{{ post.excerpt | strip_html | truncate: 160 }}</p>
            {%- endif -%}
        </div>
        {%- if post.image -%}
        <div class="post-preview-image">
          <a href="{{ post.url | relative_url }}">
            <img src="{{ post.image | default: '/assets/images/default-post.webp' }}" alt="{{ post.title | escape }}" loading="lazy">
          </a>
        </div>
        {%- endif -%}
      </div>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>
